MONGO_URI=mongodb+srv://aymane:aymane123@cluster0.nztg8pl.mongodb.net/laboratoire_db?retryWrites=true&w=majority&appName=Cluster0
PORT=5000

ORACLE_USER=lab_user
ORACLE_PASSWORD=lab_password
# Service name (ex. XE) ou SID selon votre installation Oracle 11g :
ORACLE_CONNECT_STRING=localhost:1521/oradb
# Si XE ne fonctionne pas, essayez par exemple :
# ORACLE_CONNECT_STRING=localhost:1521/?sid=XE
# ORACLE_CONNECT_STRING=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SID=XE)))

# Requis pour Oracle 11g (mode Thick) — chemin vers le dossier contenant oci.dll
ORACLE_CLIENT_LIB_DIR=C:\app\hp\product\11.2.0\dbhome_1\bin


by AG
